language: ruby
rvm: 2.6.6
cache:
  bundler: true
  directories:
    - node_modules # NPM packages
  yarn: true
before_install:
  - mysql -e 'CREATE DATABASE ho_tell_test;'
script:
  - bundle exec rails db:migrate
  - bundle exec rake db:reset
  - bundle exec rspec
services:
  - mysql
