// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

h1.title {
  font-family: 'Yellowtail', cursive;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

video#ho-tell-video {
  display: block;
  margin: auto;
}

body {
  font-family: 'Yellowtail', cursive;
  color: whitesmoke;
  background-color: #000000;
}

h2.instructions {
  padding: 20px 0px 15px 0px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
}

video {
  padding-bottom: 15px;
}

p.story {
  white-space: pre-line;
  width: 1100px;
}

div.story-prompt {
  padding-bottom: 150px;
}

textarea.form-control {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.prompt-buttons {
  text-align: center;
  margin-right: -930px;
  margin-top: 5px;
}

div.credits {
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 10px;
}

p.credit {
  margin-bottom: 5px;
}
